*{
    margin:0%;
    padding:0%;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}
@font-face {
    font-family: a;
    src: url(https://thisismagma.com/assets/fonts/jost/jost-variable.woff2);
}
@font-face {
    font-family: c;
    src: url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxK.woff2);
}
@font-face {
    font-family: a;
    src: url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fBBc4.woff2);
}
#main{
    position: relative;
    overflow: hidden;
}
#page1{
    height: 100vh;
    width: 100vw;
    /* background-color: red; */
    position: relative;
}
#page1>video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#page1>nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
    position: absolute;
    height: 10vh;
    width: 100vw;
    /* background-color: yellow; */
}
#page1>nav>image{
    margin-top: -1.7vw;
    width: 9%;
}
#right-nav>button{
    padding: 10px 20px;
    border-radius: 50px;
    background-color: #0b48ed;
    border: 1px solid white;
    color:#fff;
    font-family: a;
    font-size: 15px;
}
.bottom-page1{
    position: absolute;
    bottom: 5%;
    height: 35vh;
    width: 50vw;
    /* background-color: red; */
    left: 10%;
}
.bottom-page1>h1{
    font-family: a; 
    font-size: 5vw;
    font-weight: 100;
    line-height: 1;
    color: #fff;
}
.bottom-page1-inner{
    position: absolute;
    bottom: 0%;
    height: 35%;
    width: 100%;
    /* background-color: magenta; */
}
.bottom-page1-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 0px 40px; */
    font-family: a;
}
.bottom-page1-inner>button{
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    background-color: #fff;
    color:#0b48ed;
    font-family: b;
    font-size: 16px;    
}
.bottom-page1-inner>h4{
    font-size: 1.3vw  ;
    font-weight: 100;
    color: #fff;    
}
#page2{
    display: flex;
    align-items: start;
    font-family: a;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: #0A3CCE ;
    position: relative;
    padding: 0vw 8vw;
    color: #fff;
}
#page2>h2{
    font-weight: 100;
    margin-bottom: 3vw;
}
#page2>h1{
    padding: 20px;
    font-weight: 100;
    width: 90vw;
    line-height: 1.3;
    font-size: 4vw;
    color: #dadada69;
}
