*{
    margin:0%;
    padding:0%;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}
@font-face {
    font-family: a;
    src: url(https://thisismagma.com/assets/fonts/jost/jost-variable.woff2);
}
@font-face {
    font-family: c;
    src: url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxK.woff2);
}
@font-face {
    font-family: a;
    src: url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fBBc4.woff2);
}
#main{
    position: relative;
    overflow: hidden;
    background-color: #1137ca;
}
#page1{
    height: 100vh;
    width: 100vw;
    /* background-color: red; */
    position: relative;
}
#page1>video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#page1>nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
    position: absolute;
    height: 10vh;
    width: 100vw;
    /* background-color: yellow; */
}
#page1>nav>image{
    margin-top: -1.7vw;
    width: 9%;
}
#right-nav>button{
    padding: 10px 20px;
    border-radius: 50px;
    background-color: #0b48ed;
    border: 1px solid white;
    color:#fff;
    font-family: a;
    font-size: 15px;
}
.bottom-page1{
    position: absolute;
    bottom: 5%;
    height: 35vh;
    width: 50vw;
    /* background-color: red; */
    left: 10%;
}
.bottom-page1>h1{
    font-family: a; 
    font-size: 5vw;
    font-weight: 100;
    line-height: 1;
    color: #fff;
}
.bottom-page1-inner{
    position: absolute;
    bottom: 0%;
    height: 35%;
    width: 100%;
    /* background-color: magenta; */
}
.bottom-page1-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 0px 40px; */
    font-family: a;
}
.bottom-page1-inner>button{
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    background-color: #fff;
    color:#0b48ed;
    font-family: b;
    font-size: 16px;    
}
.bottom-page1-inner>h4{
    font-size: 1.3vw  ;
    font-weight: 100;
    color: #fff;    
}
#page2{
    display: flex;
    align-items: start;
    font-family: a;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: #0A3CCE ;
    position: relative;
    padding: 0vw 8vw;
    color: #fff;
}
#page2>h2{
    font-weight: 100;
    margin-bottom: 3vw;
}
#page2>h1{
    padding: 20px;
    font-weight: 100;
    width: 90vw;
    line-height: 1.3;
    font-size: 4vw;
    color: #dadada69;
}

#page3{
    position: relative;
    height: 100vh;
    width: 100vw;
    /* background-color: red; */
}
#page3>canvas{
    max-height: 100vh;
    max-width: 100vw;
    position: relative;
}
#page4{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #1137ca;
    flex-direction: column;
    display: flex;
    align-items: start;
    justify-content: center;
}
#page4>h3{
    margin-left: 15vw;
    margin-bottom: 2vw;
    color: #fff;
}
#page4>h1{
    margin-left: 15vw;
    width: 70%;
    font-size: 3vw;
    font-weight: 100;
    color: #ffffff81;
}

#page5{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #1137ca;
}
#page5>canvas{
    position: relative;
    height: 100vh;
    width: 100vw;
}
#page6{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #0A3CCE;
    justify-content: center;
    align-items: start;
    display: flex;
    flex-direction: column;
    color: #fff;
}
#page6>h3{
    margin-left: 15vw;
    margin-bottom: 2vw;
    color: #fff;
    font-weight: 100;
}
#page6>h1{
    margin-left: 15vw;
    width: 70%;
    font-size: 3vw;
    font-weight: 100;
    color: #ffffff81;
}
#page7{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #0A3CCE;
}
#page7>canvas{
    position: relative;
    max-height: 100vh;
    max-width: 100vw;
    background-color: #0A3CCE;
}
.page7-cir{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 30vw;
    width: 30vw;
    border: 1px solid #fff;
    border-radius: 50%;
}
.page7-cir-inner{
    height: 70%;
    width: 70%;
    border-radius:50%;
    /* margin-left: 90px; */
    background-color:transparent;
    border: 1px solid #fff;
}
#page8{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #0A3CCE;
}
#page8>video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.bottom-pg8{
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
.bottom-pg8>h1{
    color: #fff;
    margin-bottom: 2vw ;
    font-size: 5vw;
    font-weight: 100;
}
.bottom-pg8>button{
    padding: 20px 30px;
    border-radius: 50px;
    border: none;
    background-color: #fff;
    color: #0A3CCE;
}
#page9{
    display: flex;
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #1137ca;
}
.l9{
    height: 100%;
    width: 40%;
    /* background-color: green; */
    position: relative;
}
.l9>h1{
    position: absolute;
    top: 40%;
    right: 5%;
    font-size: 5vw;
    transform: translateY(-50%);
    color: #fff;
    font-weight: 100;
    line-height: 1;
}
.r9{
    height: 100%;
    width: 60%;
    /* background-color: gold; */
    position: relative;
}
.r9-center{
    height: 50%;
    width: 85%;
    /* background-color: #000; */
    border-radius: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: url(https://thisismagma.com/wp-content/uploads/2023/04/magma.wp2.cubdev.com-home-1.jpeg);
    background-size: cover;
}
#page10{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #0A3CCE;
}
.p10-r10{
    height: 100%;
    width: 60%;
    position: relative;
    left: 40%;
    /* background-color: black; */
}
.r10-in{
    height: 33.3%;
    width: 100%;
    color: #fff;
    display: flex;
    align-items: start;
    flex-direction: column;
    /* background-color: greenyellow; */
}
.r10-in>h1{
    font-size: 2vw;
    /* font-weight: 100; */
}
.r10-in>p{
    margin-top: 2vw;
    font-size: 1.3vw;
    width: 80%;
}
#page11{
    position: relative;
    height: 110vh;
    width: 100vw;
    background-color: #fff;
}
#page11>h1{
    position: absolute;
    top:5%;
    left:10%;
    font-size: 4vw;
    color: #000;
    font-weight: 100;
}
.pg11-in{
    display: flex;
    top: 18%;
    position: relative;
    margin-bottom: 2vw;
    height: 24%;
    width: 100%;
    /* background-color: aquamarine; */
}
.l11{
    position: relative;
    height: 100%;
    width: 40%;
    /* background-color: burlywood; */
    left: 5%;
    border-radius: 10px;
    overflow: hidden;
}
.l11>img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.r11{
    left: 50%;
    position: absolute;
    height: 100%;
    width: 50%;
    /* background-color: yellow; */
}
.r11{
    padding-top: 5vw;
    /* display: flex; */
    align-items: start;
    color: #000;
    /* flex-direction: column; */
    left: 50%;
    position:absolute;
    height: 100%;
    width: 50%;
}
.r11>h4{
    font-weight: 100;
}
.r11>h1{
    font-size: 2vw;
}
#page12{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #02268e;
}
.pg12-in{
    position: absolute;
    top: 40%;
    right: 10%;
    color: #fff;
}
.pg12-in>h1{
    font-size: 5vw;
    font-weight: 100;
}
.pg12-in>p{
    font-size: 1.3vw;
}
#page13{
    position: relative;
    height: 50vh;
    width: 100vw;
    background-color: black;
    color: #fff;
    padding: 7vw 10vw;
}
#page13>h1{
    font-size: 5vw;
    line-height: 1;
    font-weight: 100;
}
#page13>button{
    padding:18px 30px;
    border: none;
    background-color: #0A3CCE;
    color: #fff;
    margin-top: 2vw;
    border-radius: 50px;
}
#page14{
    position: relative;
    height: 60vh;
    width: 100vw;
    background-color: black;
}
.pg14-in{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0vw 5vw;
    height: 33.3%;
    width: 100%;
    border-top: 0.5px solid rgba(255, 255, 255, 0.394);
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.296);
    /* background-color:PINK; */
    z-index: 999999;
    color: #fff;              
}
.pg14-in>i{
    font-size: 2.4vw;
    /* color: #fff; */
    font-weight: 100;
    position: relative;
    z-index: 9999;
}
.pg14-in>h1{
    font-size: 3vw;
    font-weight: 100;
    /* color: #fff; */
    position: relative;
    z-index: 9999;
}
.c14{
    height: 0%;
    width: 100%;
    position: absolute;
    background-color:#0A3CCE;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all ease .5s;
}

.pg14-in:hover .c14{
    height: 100%;
}